name: Bot Hosting

on:
  push:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: npm install
      - name: Run client.js
        run: node client.js
        timeout-minutes: 29
        env:
          MOOVI_USERNAME: ${{ secrets.MOOVI_USERNAME }}
          MOOVI_PASSWORD: ${{ secrets.MOOVI_PASSWORD }}
          MONGO_URL: ${{ secrets.MONGO_URL }}
          GROUP_ID: ${{ secrets.GROUP_ID }}
          WS_SESSION: ${{ secrets.WS_SESSION }}
